/* .manage-products {
    padding: 20px;
  }
  ul {
    list-style: none;
  }
  button {
    margin-left: 10px;
    background: red;
    color: white;
    padding: 5px 10px;
    border: none;
  }
   */